.vehicleAndCargo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-width: 0;
}

.cargo,
.status {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.cargo {
  flex: none;
  font-size: 18rem;
  color: rgba(255, 255, 255, 0.78);
}

.resourceIcon {
  width: 16rem;
  height: 16rem;
  margin-right: 4rem;
}

.distance {
  display: flex;
  margin-left: 3rem;
  font-size: 18rem;
  opacity: 0.85;
}

.separator {
  margin-right: 3rem;
  opacity: 0.6;
}

.buildingLimits {
  padding-top: 8rem;
  padding-bottom: 12rem;
}

.limitValue {
  color: var(--accentColorNormal);
}

.custom {
  color: var(--accentColorNormal);
}

.global {
  opacity: 0.65;
}

.custom,
.global,
.resetButton {
  font-size: 16rem;
  text-transform: none;
}

.sliderRow {
  padding-left: 48rem;
  padding-right: 48rem;
  padding-top: 2rem;
  padding-bottom: 10rem;
}

.resetButton {
  padding-left: 12rem;
  padding-right: 12rem;
}
